<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>URL Shortner</h1>

    <div>
        <form method="POST" action="/url">

            <label for="Url">Enter Url </label>
            <input type="text" name="url" placeholder="http://example.com">
            <button type="submit">Submit</button>
        </form>
        <div class="result">
            <% if (locals.id) { %>
             <p>Your Short Url is : http://localhost:8000/url/<%= id %></p>
            <% } %>
        </div>
    </div>

</body>

</html>